<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>welcome to TAQ - TFT Augment Question</h1>

        <p>Best</p>
        <p>
            <a href="/questions/week">weekly</a>
            <a href="/questions/month">monthly</a>
        </p>

        <p>Users</p>
        <p>
            <a href="/login">login</a>
            <a href="/users/new">signup</a>
        </p>

        <p>Questions</p>
        <p>
            <a href="/questions/lists">solve</a>
            <a href="/questions/new">upload</a>
        </p>
    </div>
</div>
</body>
</html>