<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">

    <form action="/users/new" method="post">
        <div class="form-group">
            <label for="account-id">ID</label>
            <input type="text" id="account-id" name="accountId" placeholder="ID를 입력하세요" />
            <label for="password">비밀번호</label>
            <input type="text" id="password" name="password" placeholder="비밀번호를 입력하세요" />
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" name="nickname" placeholder="닉네임을 입력하세요" />
        </div>
        <button>등록</button>
    </form>

</div>
</body>
</html>